.descriptioncontainer{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 3rem;
}
.descriptionbox1{
    flex: 50%;
    padding: 20px;
}
.descriptionbox2{
    flex: 50%;
    padding: 20px;
}
.descriptionbox1 h1,
.descriptionbox2 h1{
    text-align: center;
    font-size: 1.7rem;
    text-shadow: 0 1px 1px #0ff;
}
.descriptionbox1 p,
.descriptionbox2 p{
    margin-top: 2rem;
    font-size: 1.05rem;
}
.nexttitle{
    font-size: 1.7rem;
    text-shadow: 0 1px 1px #0ff;
    margin-top: 2rem;
}
.list{
    color: white;
    margin-left: 30%;
    margin-top: 2rem;
}
@media screen and (max-width: 768px){
    .descriptioncontainer{
        flex-direction: column;
    }
    .list{
        margin-left: 1%;
        padding: 20px;
    }
}